@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e7cab0;
    font-family: 'Noto Sans', sans-serif;
}

.card-perfume {
    height: 500px;
    width: 650px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
}

.left-card {
    background-image: url(imagens/1649151787757-img11jpg_3240x2416_max_lg_lg.jpg);
    background-size: cover;
    background-position: center;
    height: 500px;
    width: 50%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.right-perfume {
    height: 500px;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(247, 240, 240);
    padding: 0px 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.right-perfume h1 {
    font-family: serif;
    text-align: justify;
    margin-left: 10px;
    font-size: 2em;
    line-height: 1em;
}

.right-perfume h2 {
    margin-top: -30px;
    margin-left: -170px;
    font-size: 1em;
    color: #b4b4b4;
    font-family: sans-serif;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.062);
}

.right-perfume h3 {
    font-family: serif;
}

.right-perfume-txt {
    margin-top: 40px;
    height: 200px;
}

.right-perfume-txt p {
    margin-top: 15px;
    padding: 0px 10px;
    color: #969595;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.123);
}

.right-perfume-valor {
    display: flex;
    margin-top: 30px;
    width: 95%;
}

.right-perfume-valor h1 {
    color: #3A8368;
    margin-left: 5px;
}

.right-perfume-valor h3 {
    color: #969595;
    margin-left: 30px;
}

.right-perfume button {
    margin-top: 30px;
    padding: 15px 10px;
    width: 80%;
    background-color: #3A8368;
    border: none;
    outline: none;
    border-radius: 10px;
    color: whitesmoke;
    font-weight: bold;
    cursor: pointer;
}

.right-perfume button:hover {
    background-color: #2a6650;
    transition: .3s;
}

@media (max-width: 750px) {
    .card-perfume {
        height: 400px;
        width: 550px;
    }

    .left-card {
        height: 400px;
        width: 50%;
    }

    .right-perfume {
        height: 400px;
        width: 50%;
    }

    .right-perfume h2 {
        margin-top: 20px;
        margin-left: -130px;
        font-size: 1em;
        color: #b4b4b4;
        font-family: sans-serif;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.062);
    }

    .right-perfume-txt {
        margin-top: 10px;
        height: 200px;
    }
}

@media (max-width: 605px) {
    .card-perfume {
        height: 450px;
        width: 450px;
    }

    .left-card {
        height: 450px;
        width: 50%;
    }

    .right-perfume {
        height: 450px;
        width: 50%;
    }

    .right-perfume-txt {
        margin-top: 10px;
        height: 100px;
    }

    .right-perfume-valor {
        margin-top: 170px;
    }

    .right-perfume h2 {
        margin-top: 0px;
        margin-left: -75px;
        font-size: 1em;
        color: #b4b4b4;
        font-family: sans-serif;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.062);
    }
}

@media (max-width: 500px) {
    .card-perfume {
        height: 500px;
        width: 90%;
    }

    .left-card {
        position: relative;
        z-index: 0;
        height: 100px;
        width: 100px;
    }

    .right-perfume {
        height: 500px;
        width: 90%;
        position: absolute;
        z-index: 1;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
    }

    .right-perfume-txt {
        margin-top: 30px;
        height: 10px;
    }

    .right-perfume h2 {
        margin-top: 10px;
        margin-left: -300px;
    }
}

@media (max-width: 450px) {
    .card-perfume {
        height: 400px;
        width: 90%;
    }

    .right-perfume {
        height: 400px;
        width: 90%;
    }

    .right-perfume h2 {
        margin-top: 0px;
        margin-left: -190px;
    }

    .right-perfume-txt {
        margin-top: 20px;
        height: 0px;
    }

    .right-perfume-valor {
        margin-top: 220px;
    }
}